@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

  body {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      background-color: #212121;
      color: #FAFAFA;
  }

  .global-bg-color {
      background-color: #F8F8F8;
  }

  /* CSS file */
  .global-font-style {
      font-family: 'Roboto', sans-serif;
  }

  img {
      max-width: 100%;
      height: auto;
  }

  .mb1 {
      margin-top: 0.5rem;
  }
